.version.index {
  color: #0000F1;
  background-color: #3A8522;
}

#page {
  z-index: 1;
  min-height: 438px;
  background-image: none;
  border-width: 0px;
  border-color: #000000;
  background-color: transparent;
  padding-bottom: 62px;
  width: 100%;
  max-width: 1156px;
  margin-left: auto;
  margin-right: auto;
}

/* Canvas */
#canvasContainer {
  z-index: 2;
  margin-right: -10000px;
  margin-top: -200px;
  width: 12.81%;
}

#u2067 {
  z-index: 2;
  background-color: transparent;
  border-radius: 50%;
  position: relative;
  margin-right: -10000px;
  margin-top: 35px;
  width: 100%;
  margin-left: 340.55%;
  left: -419px;
}

#u2157-4 {
  z-index: 18;
  min-height: 19px;
  background-color: transparent;
  line-height: 19px;
  text-align: center;
  font-size: 16px;
  font-family: Verdana, Tahoma, Geneva, sans-serif;
  position: relative;
  margin-right: -10000px;
  width: 100%;
  margin-left: 340.55%;
  left: -419px;
}

#buttonu2968 {
  z-index: 46;
  height: 183px;
  border-color: #787878;
  background-color: transparent;
  border-radius: 10px;
  position: relative;
  margin-right: -10000px;
  width: 100%;
  left: 0%;
  margin-left: 57.44%;
}

.ie #buttonu2968 {
  background-color: #FFFFFF;
  opacity: 0.01;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
  filter: alpha(opacity=1);
  left: 0%;
  margin-left: 57.44%;
}

#buttonu2968:hover {
  height: 183px;
  min-height: 0px;
  width: 100%;
  margin: 0px -10000px 0px 57.43243245351637%;
}

.ie #buttonu2968:hover {
  background-color: #FFFFFF;
  opacity: 0.01;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
  filter: alpha(opacity=1);
}

#buttonu2968.ButtonSelected {
  height: 183px;
  min-height: 0px;
  width: 100%;
  left: 0%;
  margin: 0px -10000px 0px 57.43243245351637%;
}

.ie #buttonu2968.ButtonSelected {
  background-color: #FFFFFF;
  opacity: 0.01;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
  filter: alpha(opacity=1);
  left: 0%;
  margin-left: 57.44%;
}

#pu2089 {
  z-index: 4;
  margin-right: -10000px;
  margin-top: 273px;
  width: 12.81%;
}

#u2089 {
  z-index: 4;
  background-color: transparent;
  border-radius: 50%;
  position: relative;
  margin-right: -10000px;
  margin-top: 35px;
  width: 100%;
  margin-left: 340.55%;
  left: -258px;
}

#u2163-4 {
  z-index: 22;
  min-height: 19px;
  background-color: transparent;
  line-height: 19px;
  text-align: center;
  font-size: 16px;
  font-family: Verdana, Tahoma, Geneva, sans-serif;
  position: relative;
  margin-right: -10000px;
  width: 100%;
  margin-left: 340.55%;
  left: -258px;
}

#buttonu3145 {
  z-index: 47;
  height: 183px;
  border-color: #787878;
  background-color: transparent;
  border-radius: 10px;
  position: relative;
  margin-right: -10000px;
  width: 100%;
  left: 0%;
  margin-left: 166.22%;
}

.ie #buttonu3145 {
  background-color: #FFFFFF;
  opacity: 0.01;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
  filter: alpha(opacity=1);
  left: 0%;
  margin-left: 166.22%;
}

#buttonu3145:hover {
  height: 183px;
  min-height: 0px;
  width: 100%;
  margin: 0px -10000px 0px 166.21621619129883%;
}

.ie #buttonu3145:hover {
  background-color: #FFFFFF;
  opacity: 0.01;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
  filter: alpha(opacity=1);
}

#buttonu3145.ButtonSelected {
  height: 183px;
  min-height: 0px;
  width: 100%;
  left: 0%;
  margin: 0px -10000px 0px 166.21621619129883%;
}

.ie #buttonu3145.ButtonSelected {
  background-color: #FFFFFF;
  opacity: 0.01;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
  filter: alpha(opacity=1);
  left: 0%;
  margin-left: 166.22%;
}

#pu2152-4 {
  z-index: 14;
  margin-right: -10000px;
  margin-top: 30px;
  width: 26.82%;
}

#u2152-4 {
  z-index: 14;
  min-height: 32px;
  background-color: transparent;
  line-height: 291px;
  font-size: 40px;
  font-family: Verdana, Tahoma, Geneva, sans-serif;
  position: relative;
  width: 100%;
  margin-left: 128.97%;
  left: 0px;
}

#ppu2117 {
  z-index: 0;
  margin-top: 211px;
  width: 100%;
}

#pu2117 {
  z-index: 8;
  margin-right: -10000px;
  width: 47.75%;
}

#u2117 {
  z-index: 8;
  background-color: transparent;
  border-radius: 50%;
  position: relative;
  margin-right: -10000px;
  margin-top: 35px;
  width: 100%;
  margin-left: 340.55%;
  left: 64px;
}

#u2180-4 {
  z-index: 30;
  min-height: 19px;
  background-color: transparent;
  line-height: 19px;
  text-align: center;
  font-size: 16px;
  font-family: Verdana, Tahoma, Geneva, sans-serif;
  position: relative;
  margin-right: -10000px;
  width: 100%;
  margin-left: 340.55%;
  left: 64px;
}

#buttonu3163 {
  z-index: 49;
  height: 183px;
  border-color: #787878;
  background-color: transparent;
  border-radius: 10px;
  position: relative;
  margin-right: -10000px;
  width: 100%;
  left: 0%;
  margin-left: 383.79%;
}

.ie #buttonu3163 {
  background-color: #FFFFFF;
  opacity: 0.01;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
  filter: alpha(opacity=1);
  left: 0%;
  margin-left: 383.79%;
}

#buttonu3163:hover {
  height: 183px;
  min-height: 0px;
  width: 100%;
  margin: 0px -10000px 0px 383.7837838087012%;
}

.ie #buttonu3163:hover {
  background-color: #FFFFFF;
  opacity: 0.01;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
  filter: alpha(opacity=1);
}

#buttonu3163.ButtonSelected {
  height: 183px;
  min-height: 0px;
  width: 100%;
  left: 0%;
  margin: 0px -10000px 0px 383.7837838087012%;
}

.ie #buttonu3163.ButtonSelected {
  background-color: #FFFFFF;
  opacity: 0.01;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
  filter: alpha(opacity=1);
  left: 0%;
  margin-left: 383.79%;
}

#u2103 {
  z-index: 6;
  background-color: transparent;
  border-radius: 50%;
  position: relative;
  margin-right: -10000px;
  margin-top: 35px;
  width: 47.75%;
  margin-left: 162.59%;
  left: -97px;
}

#u2169-4 {
  z-index: 26;
  min-height: 19px;
  background-color: transparent;
  line-height: 19px;
  text-align: center;
  font-size: 16px;
  font-family: Verdana, Tahoma, Geneva, sans-serif;
  position: relative;
  margin-right: -10000px;
  width: 47.75%;
  margin-left: 162.59%;
  left: -97px;
}

#buttonu3151 {
  z-index: 48;
  height: 183px;
  border-color: #787878;
  background-color: transparent;
  border-radius: 10px;
  position: relative;
  margin-right: -10000px;
  width: 47.75%;
  left: 0%;
  margin-left: 131.3%;
}

.ie #buttonu3151 {
  background-color: #FFFFFF;
  opacity: 0.01;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
  filter: alpha(opacity=1);
  left: 0%;
  margin-left: 131.3%;
}

#buttonu3151:hover {
  height: 183px;
  min-height: 0px;
  width: 47.75%;
  margin: 0px -10000px 0px 131.29032259757415%;
}

.ie #buttonu3151:hover {
  background-color: #FFFFFF;
  opacity: 0.01;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
  filter: alpha(opacity=1);
}

#buttonu3151.ButtonSelected {
  height: 183px;
  min-height: 0px;
  width: 47.75%;
  left: 0%;
  margin: 0px -10000px 0px 131.29032259757415%;
}

.ie #buttonu3151.ButtonSelected {
  background-color: #FFFFFF;
  opacity: 0.01;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
  filter: alpha(opacity=1);
  left: 0%;
  margin-left: 131.3%;
}

#pu2131 {
  z-index: 10;
  margin-right: -10000px;
  margin-top: 273px;
  width: 12.81%;
}

#u2131 {
  z-index: 10;
  background-color: transparent;
  border-radius: 50%;
  position: relative;
  margin-right: -10000px;
  margin-top: 35px;
  width: 100%;
  margin-left: 340.55%;
  left: 226px;
}

#u2186-4 {
  z-index: 34;
  min-height: 19px;
  background-color: transparent;
  line-height: 19px;
  text-align: center;
  font-size: 16px;
  font-family: Verdana, Tahoma, Geneva, sans-serif;
  position: relative;
  margin-right: -10000px;
  width: 100%;
  margin-left: 340.55%;
  left: 226px;
}

#buttonu3169 {
  z-index: 50;
  height: 183px;
  border-color: #787878;
  background-color: transparent;
  border-radius: 10px;
  position: relative;
  margin-right: -10000px;
  width: 100%;
  left: 0%;
  margin-left: 493.25%;
}

.ie #buttonu3169 {
  background-color: #FFFFFF;
  opacity: 0.01;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
  filter: alpha(opacity=1);
  left: 0%;
  margin-left: 493.25%;
}

#buttonu3169:hover {
  height: 183px;
  min-height: 0px;
  width: 100%;
  margin: 0px -10000px 0px 493.243243224076%;
}

.ie #buttonu3169:hover {
  background-color: #FFFFFF;
  opacity: 0.01;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
  filter: alpha(opacity=1);
}

#buttonu3169.ButtonSelected {
  height: 183px;
  min-height: 0px;
  width: 100%;
  left: 0%;
  margin: 0px -10000px 0px 493.243243224076%;
}

.ie #buttonu3169.ButtonSelected {
  background-color: #FFFFFF;
  opacity: 0.01;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
  filter: alpha(opacity=1);
  left: 0%;
  margin-left: 493.25%;
}

#pu2145 {
  z-index: 12;
  margin-right: -10000px;
  margin-top: 273px;
  width: 12.89%;
}

#u2145 {
  z-index: 12;
  background-color: transparent;
  border-radius: 50%;
  position: relative;
  margin-right: -10000px;
  margin-top: 35px;
  width: 99.33%;
  margin-left: 338.26%;
  left: 388px;
}

#u2067 .clip_frame, #u2089 .clip_frame, #u2117 .clip_frame, #u2103 .clip_frame, #u2131 .clip_frame, #u2145 .clip_frame {
  -webkit-border-radius: 0.5px 0.5px 0.5px 0.5px;
}

#u2067_img, #u2089_img, #u2117_img, #u2103_img, #u2131_img, #u2145_img {
  width: 100%;
}

#u2192-4 {
  z-index: 38;
  min-height: 19px;
  background-color: transparent;
  line-height: 19px;
  text-align: center;
  font-size: 16px;
  font-family: Verdana, Tahoma, Geneva, sans-serif;
  position: relative;
  margin-right: -10000px;
  width: 99.33%;
  margin-left: 338.26%;
  left: 388px;
}

#buttonu3181 {
  z-index: 51;
  height: 183px;
  border-color: #787878;
  background-color: transparent;
  border-radius: 10px;
  position: relative;
  margin-right: -10000px;
  width: 99.33%;
  left: 0%;
  margin-left: 598.66%;
}

.ie #buttonu3181 {
  background-color: #FFFFFF;
  opacity: 0.01;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
  filter: alpha(opacity=1);
  left: 0%;
  margin-left: 598.66%;
}

#buttonu3181:hover {
  height: 183px;
  min-height: 0px;
  width: 99.33%;
  margin: 0px -10000px 0px 598.6577181531709%;
}

.ie #buttonu3181:hover {
  background-color: #FFFFFF;
  opacity: 0.01;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
  filter: alpha(opacity=1);
}

#buttonu3181.ButtonSelected {
  height: 183px;
  min-height: 0px;
  width: 99.33%;
  left: 0%;
  margin: 0px -10000px 0px 598.6577181531709%;
}

.ie #buttonu3181.ButtonSelected {
  background-color: #FFFFFF;
  opacity: 0.01;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
  filter: alpha(opacity=1);
  left: 0%;
  margin-left: 598.66%;
}

#u2195-4 {
  z-index: 42;
  min-height: 33px;
  background-color: transparent;
  line-height: 31px;
  font-size: 26px;
  font-family: Verdana, Tahoma, Geneva, sans-serif;
  -webkit-transform: matrix(0, -1, 1, 0, 60, 93);
  -ms-transform: matrix(0, -1, 1, 0, 60, 93);
  transform: matrix(0, -1, 1, 0, 60, 93);
  position: relative;
  margin-right: -10000px;
  margin-top: 363px;
  width: 13.15%;
  margin-left: 43.43%;
  left: 542px;
}

.css_verticalspacer .verticalspacer {
  height: calc(100vh - 516px);
}

#muse_css_mq, .html {
  background-color: #FFFFFF;
}

body {
  position: relative;
  min-width: 320px;
}
